<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Airline and Sustainability</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="grid-container">
        <header style="text-align: center; font-size: 2REM; font-weight: bold" class="grid-x grid-padding-x show-for-medium">%%CURRENT_DYNAMIC_SUBJECT%%</header>
        <div class="grid-x grid-padding-x">
            <div class="cell large-3">
                <img src="%%IMG_SRC%%" alt="%%IMG_ALT%%" />
                <table>
                    <thead>
                        <tr>
                            <th>
                                Month
                            </th>
                            <th>
                                Day
                            </th>
                            <th>
                                Departure Time
                            </th>
                            <th>
                                Scheduled Departure Time
                            </th>
                            <th>
                                Arrival Time
                            </th>
                            <th>
                                Scheduled Arrival Time
                            </th>
                            <th>
                                Unique Carrier
                            </th>
                            <th>
                                AirTime
                            </th>
                            <th>
                                AirDelay
                            </th>
                            <th>
                                Departure Delay
                            </th>
                            <th>
                                Origin
                            </th>
                            <th>
                                Destination
                            </th>
                            <th>
                                Distance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        %%YEAR_INFO%%
                    </tbody>
                </table>
            </div>
            <div class="cell large-auto">
                <p>%%DYNAMIC_INFORMATION%%</p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell large-auto">
            <!--Chart Dynamic in here-->
        </div>
    </div>
</body>
</html>
